@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(to right, rgb(48, 47, 47), rgb(14, 14, 14));  
}
  body::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, rgb(48, 47, 47), black);
  }
  
  body::-webkit-scrollbar-thumb {
    background: rgb(13, 202, 240);
  }
  
  body::-webkit-scrollbar {
    width: 12px;
  }
h1{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.vs{
  font-size: 60px;
}
.vs1{
  font-size: 20px;
}
.vs2{
  font-size: 40px;
}
.vs3{
  font-size: 25px;
}
.bg{
  background: linear-gradient(to right, rgb(48, 47, 47), rgb(14, 14, 14));  
}

.navbar-nav li {
    font-size: 20px;
    padding: 10px;
}
span{
  background: rgb(13, 202, 240);
}
.line{
  border-bottom:rgb(13, 202, 240) 2px solid ;
  width: 50px;
  margin-bottom: 15px;
}
.line1{
  border-bottom:rgb(13, 202, 240) 2px solid ;
  width: 20px;
}
.ps{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../img/pozadina1.jpg);
  background-position: center;
}
.slika{
  width: 500px;
  height: 559px;
  border: 2px solid rgb(13, 202, 240);
}
.br{
  border: 2px solid rgb(13, 202, 240);
  border-radius: 60px;
}
.bg1{
  background: linear-gradient(to right, rgb(37, 41, 46), rgb(14, 14, 14));
}
.slika1{
  width: 500px;
  height: 359px;
  border: 2px solid rgb(13, 202, 240);
}